<ion-view view-title="BMI Calculator">
  <ion-content>
    <h1 class="header">Body Mass Index</h1>

    <form class="user-input" ng-model="form" novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.feet" placeholder="Feet" required />
        </label>
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.inches" placeholder="Inches" required />
        </label>
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.pounds" placeholder="Pounds" required />
        </label>
      </div>

      <div id="button-group-bmi">
        <div class="row">
          <div class="col col-100">
            <button type="submit" class="button button-positive button-calculate" ng-click="calcBmi()">
              Calculate
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col col-100">
            <button class="button button-outline button-stable button-calculate" ng-click="reset()">
              Reset
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="user-results">
      <div class="row">
        <div class="col col-50">
          <p>BMI:</p>
        </div>
        <div class="col col-50">
          <span>{{ user.info.bmi }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <p>Category:</p>
        </div>
        <div class="col col-50">
          <span>{{ user.info.category }}</span>
        </div>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col col-100">
        <table class="health-chart">
          <thead>
            <tr>
              <th colspan="2">BMI Categories</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Underweight</td>
              <td>< 18.5</td>
            </tr>
            <tr>
              <td>Normal Weight</td>
              <td>18.5-24.9</td>
            </tr>
            <tr>
              <td>Overweight</td>
              <td>25-29.9</td>
            </tr>
            <tr>
              <td>Obese</td>
              <td>30-39.9</td>
            </tr>
            <tr>
              <td>Morbidly Obese</td>
              <td>> 40</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </ion-content>
</ion-view>
