<ion-view view-title="BMR Calculator">
  <ion-content>
    <h1 class="header">Basal Metabolic Rate</h1>

    <form class="user-input" ng-model="form">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.feet" placeholder="Feet" required />
        </label>
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.inches" placeholder="Inches" required />
        </label>
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.pounds" placeholder="Pounds" required />
        </label>
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.age" placeholder="Age" required />
        </label>
        <div class="row">
          <div class="col col-50">
            <ion-checkbox ng-model="user.info.gender.male">Male</ion-checkbox>
          </div>
          <div class="col col-50">
            <ion-checkbox ng-model="user.info.gender.female">Female</ion-checkbox>
          </div>
        </div>

      <div class="user-results">
        <div class="row">
          <div class="col col-33">
            <p>BMR:</p>
          </div>
          <div class="col col-66">
            <span>{{ user.info.bmr }}</span>
          </div>
        </div>
      </div>

      <div id="button-group-bmi">
        <div class="row">
          <div class="col col-100">
            <button type="submit" class="button button-positive button-calculate" ng-click="calcBmr()">
              Calculate
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col col-100">
            <button class="button button-outline button-stable button-calculate" ng-click="reset()">
              Reset
            </button>
          </div>
        </div>
      </div>
    </form>

  </ion-content>
</ion-view>