<ion-view view-title="Calorie Calculator">
  <ion-content>
    <h1 class="header">Calories</h1>

    <form class="user-input" ng-model="form" novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" min="0" ng-minlength="1"  ng-model="user.info.feet" placeholder="Feet" required />
        </label>
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.inches" placeholder="Inches" required />
        </label>
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.pounds" placeholder="Pounds" required />
        </label>
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.age" placeholder="Age" required />
        </label>
        <div class="row">
          <div class="col col-50">
            <ion-checkbox ng-model="user.info.gender.male">Male</ion-checkbox>
          </div>
          <div class="col col-50">
            <ion-checkbox ng-model="user.info.gender.female">Female</ion-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col col-100">
            <div class="list">
              <label class="item item-input item-select">
                  <div class="input-label">Activity Level</div>
                  <select ng-model="activity">
                      <option ng-selected="true">Sedentary</option>
                      <option>Lightly Active</option>
                      <option>Moderately Active</option>
                      <option>Very Active</option>
                      <option>Extra Active</option>
                  </select>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div id="button-group-bmi">
        <div class="row">
          <div class="col col-100">
            <button type="submit" class="button button-positive button-calculate" ng-click="calcCalories(activity)">
              Calculate
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col col-100">
            <button class="button button-outline button-stable button-calculate" ng-click="reset()">
              Reset
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="user-results">
      <div class="row">
        <div class="col col-50">
          <p>Maintain Weight:</p>
        </div>
        <div class="col col-50">
          <span>{{ user.info.cal_maintain }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <p>Lose 1 lb/week:</p>
        </div>
        <div class="col col-50">
          <span>{{ user.info.cal_lose1 }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <p>Lose 2 lbs/week:</p>
        </div>
        <div class="col col-50">
          <span>{{ user.info.cal_lose2 }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <p>Gain 1 lb/week:</p>
        </div>
        <div class="col col-50">
          <span>{{ user.info.cal_gain1 }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <p>Gain 2 lbs/week:</p>
        </div>
        <div class="col col-50">
          <span>{{ user.info.cal_gain2 }}</span>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
