<ion-view view-title="Home">
  <ion-content id="home">
    <h1 class="header">Health Calculators</h1>
    <p>
      An all-in-one suite for health and fitness<br />
      related calculators
    </p>

      <div class="row">
        <div class="col col-50">
          <a class="button button-block button-positive" href="#/app/calorie-calculator">Caloric Intake</a>
        </div>
        <div class="col col-50">
          <a class="button button-block button-positive" href="#/app/bmr-calculator">Basal Metabolic Rate</a>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <a class="button button-block button-positive" href="#/app/bmi-calculator">Body Mass Index</a>
        </div>
        <div class="col col-50">
          <a class="button button-block button-positive" href="#/app/ffmi-calculator">Fat Free Muscle Index</a>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <a class="button button-block button-positive" href="#/app/lbm-calculator">Lean Body Mass</a>
        </div>
        <div class="col col-50">
          <a class="button button-block button-positive" href="#/app/orm-calculator">One Rep Max</a>
        </div>
      </div>
      <div class="row">
        <div class="col col-50 col-offset-25">
          <a class="button button-block button-positive" href="#/app/thr">Target Heart Rate</a>
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <button class="button button-block button-balanced" ng-hide="env.loggedIn" ng-click="signIn()">Sign In with Google</button>
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <h4 id="user-name" ng-show="env.loggedIn" ng-click="signIn()">Welcome Back, {{ user.name }}!</h4>
        </div>
      </div>

  </ion-content>
</ion-view>