<ion-view view-title="Information">
  <ion-content>
    
    <div class="list" id="info">
      <div class="item item-divider">
        About Health Calculators
      </div>
      <p class="item">
        <b>Health Calculators</b> is an all-in-one suite for<br />
        health and fitness related calculators that brings<br />
        the most reliable formulas to one platform.
      </p>
      <div class="item item-divider">
        Basal Metabolic Rate
      </div>
      <p class="item">
        Basal Metabolic Rate (BMR) is the minimal<br />
        amount of energy expenditure while at rest.<br /><br />
        - <i>Based on the Mifflin St. Jeor equation</i>
      </p>
      <div class="item item-divider">
        Caloric Intake
      </div>
      <p class="item">
        Your daily caloric needs to maintain your weight<br />
        is equal to your BMR, multiplied by your activity<br />
        factor.<br /><br />
        - <i>Based on the Mifflin St. Jeor equation</i>
      </p>
      <div class="item item-divider">
        Body Mass Index
      </div>
      <p class="item">
        Body Mass Index (BMI) is a measure of body fat<br />
        based on height and weight.<br /><br />
        - <i>Based on the Adolphe Quetelet equation</i>
      </p>
      <div class="item item-divider">
        Fat Free Muscle Index
      </div>
      <p class="item">
        Fat Free Muscle Index (FFMI) is a measure of<br />
        muscle mass based on height, weight, and body<br />
        fat.<br /><br />
        - <i>Based on the Kouri, E.M. equation</i>
      </p>
      <div class="item item-divider">
        Lean Body Mass
      </div>
      <p class="item">
        Lean Body Mass (LBM) is a measure of your body<br />
        weight minus your body fat.<br /><br />
        - <i>Based on the Hume equation</i>
      </p>
      <div class="item item-divider">
        One Repetition Maximum
      </div>
      <p class="item">
        One Rep Max (1RM) is the maximum amount of<br />
        force that can be generated in one full contraction.<br /><br />
        - <i>Based on the Brzycki equation</i>
      </p>
      <div class="item item-divider">
        DISCLAIMER
      </div>
      <p class="item">
        The information and calculations provided by<br />
        <b>Health Calculators</b> could include technical<br />
        inaccuracies or typographical errors. Changes<br />
        may be added periodically to the information<br />
        contained in any of our web pages or sites.
      </p>
    </div>

  </ion-content>
</ion-view>
