<ion-view view-title="Information">
  <ion-content>
    
    <div class="list" id="info">
      <div class="item item-divider">
        About Health Calculators
      </div>
      <div class="info-item">
        <b>Health Calculators</b> is an all-in-one suite for
        health and fitness related calculators that brings
        the most reliable formulas to one platform.
      </div>
      <div class="item item-divider">
        Basal Metabolic Rate
      </div>
      <div class="info-item">
        Basal Metabolic Rate (BMR) is the minimal
        amount of energy expenditure while at rest.<br /><br />
        - <i>Based on the Mifflin St. Jeor equation</i>
      </div>
      <div class="item item-divider">
        Caloric Intake
      </div>
      <div class="info-item">
        Your daily caloric needs to maintain your weight
        is equal to your BMR, multiplied by your activity
        factor.<br /><br />
        - <i>Based on the Mifflin St. Jeor equation</i>
      </div>
      <div class="item item-divider">
        Body Mass Index
      </div>
      <div class="info-item">
        Body Mass Index (BMI) is a measure of body fat
        based on height and weight.<br /><br />
        - <i>Based on the Adolphe Quetelet equation</i>
      </div>
      <div class="item item-divider">
        Fat Free Muscle Index
      </div>
      <div class="info-item">
        Fat Free Muscle Index (FFMI) is a measure of
        muscle mass based on height, weight, and body
        fat.<br /><br />
        - <i>Based on the Kouri, E.M. equation</i>
      </div>
      <div class="item item-divider">
        Lean Body Mass
      </div>
      <div class="info-item">
        Lean Body Mass (LBM) is a measure of your body
        weight minus your body fat.<br /><br />
        - <i>Based on the Hume equation</i>
      </div>
      <div class="item item-divider">
        One Repetition Maximum
      </div>
      <div class="info-item">
        One Rep Max (1RM) is the maximum amount of
        force that can be generated in one full contraction.<br /><br />
        - <i>Based on the Brzycki equation</i>
      </div>
      <div class="item item-divider">
        Target Heart Rate
      </div>
      <div class="info-item">
        Target Heart Rate (THR) is a desired heart rate
        range reached during an exersize.<br /><br />
        - <i>Based on the Haskell and Fox equation</i>
      </div>
      <div class="item item-divider">
        DISCLAIMER
      </div>
      <div class="info-item">
        The information and calculations provided by
        <b>Health Calculators</b> are estimates and could
        include technical inaccuracies. Changes may
        be added periodically to the information
        contained within this application.
      </div>
    </div>

  </ion-content>
</ion-view>
