<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Health Calculators</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list ng-click="reset()">
        <ion-item menu-close ng-show="env.loggedIn" ng-click="signOut()">
          <img class="img-user" ng-style="{'background-image':'url('+user.img+')'}" />
          <span>{{ user.name }}</span>
          <p id="sign-out">Sign Out</p>
        </ion-item>
        <ion-item menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item class="item item-divider">
          Health
        </ion-item>
        <ion-item menu-close href="#/app/calorie-calculator">
          Calories
        </ion-item>
        <ion-item menu-close href="#/app/bmi-calculator">
          Body Mass Index
        </ion-item>
        <ion-item menu-close href="#/app/ffmi-calculator">
          Fat Free Muscle Index
        </ion-item>
        <ion-item menu-close href="#/app/bmr-calculator">
          Basal Metabolic Rate
        </ion-item>
        <ion-item class="item item-divider">
          Fitness
        </ion-item>
        <ion-item menu-close href="#/app/orm-calculator">
          One Rep Max
        </ion-item>
        <ion-item class="item item-divider">
          More
        </ion-item>
        <ion-item menu-close href="#/app/information">
          Information
        </ion-item>
        <ion-item menu-close href="#/app/settings">
          Settings
        </ion-item>
        <ion-item menu-close ng-hide="env.loggedIn" ng-click="signIn()">
          Sign In with Google
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
