<ion-view view-title="Settings">
  <ion-content>
    
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Unit of measurement
        </div>
        <select>
          <option selected>Imperial</option>
          <option>Metric</option>
        </select>
      </label>
      <div class="item item-toggle">
         Reset data on page change
         <label class="toggle toggle-balanced">
          <input type="checkbox" />
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>

  </ion-content>
</ion-view>
