<ion-view view-title="BMR Calculator">
  <ion-content class="calc-view">
    <h1 class="header">Basal Metabolic Rate</h1>

    <form class="user-input" name="form" ng-submit="form.$valid && calcBmr()" novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.feet" placeholder="Feet" ng-required="true" />
        </label>
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.inches" placeholder="Inches" ng-required="true" />
        </label>
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.pounds" placeholder="Pounds" ng-required="true" />
        </label>
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.age" placeholder="Age" ng-required="true" />
        </label>
        <div class="row">
          <div class="col col-50">
            <ion-checkbox ng-model="user.info.gender.male" ng-change="user.info.gender.female = false">Male</ion-checkbox>
          </div>
          <div class="col col-50">
            <ion-checkbox ng-model="user.info.gender.female" ng-change="user.info.gender.male = false">Female</ion-checkbox>
          </div>
        </div>
      </div>

      <div class="button-group">
        <div class="row">
          <div class="col col-100">
            <button type="submit" class="button button-positive button-calculate">
              Calculate
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col col-100">
            <button class="button button-outline button-stable button-calculate" ng-click="reset()">
              Reset
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="user-results center">
      <div class="row">
        <div class="col col-100">
          <p>BMR:</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <span>{{ results.bmr }}</span>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
