<ion-view view-title="Caloric Intake Calculator">
  <ion-content class="calc-view">
    <h1 class="header">Caloric Intake</h1>

    <form class="user-input" name="form" ng-submit="form.$valid && calcCalories(activity)" novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" min="0" ng-minlength="1"  ng-model="user.info.feet" placeholder="Feet" ng-required="true" />
        </label>
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.inches" placeholder="Inches" ng-required="true" />
        </label>
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.pounds" placeholder="Pounds" ng-required="true" />
        </label>
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.age" placeholder="Age" ng-required="true" />
        </label>
        <div class="row">
          <div class="col col-50">
            <ion-checkbox ng-model="user.info.gender.male" ng-change="user.info.gender.female = false">Male</ion-checkbox>
          </div>
          <div class="col col-50">
            <ion-checkbox ng-model="user.info.gender.female" ng-change="user.info.gender.male = false">Female</ion-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col col-100">
            <div class="list">
              <label class="item item-input item-select">
                  <div class="input-label">Activity Level</div>
                  <select ng-model="activity">
                      <option ng-selected="true">Basal Metabolic Rate</option>
                      <option>Sedentary</option>
                      <option>Lightly Active</option>
                      <option>Moderately Active</option>
                      <option>Very Active</option>
                      <option>Extra Active</option>
                  </select>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="button-group">
        <div class="row">
          <div class="col col-100">
            <button type="submit" class="button button-positive button-calculate">
              Calculate
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col col-100">
            <button class="button button-outline button-stable button-calculate" ng-click="clear()">
              Clear
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="user-results" ng-hide="calIntake.bmr">
      <div class="row">
        <div class="col col-50">
          <p>Maintain Weight:</p>
        </div>
        <div class="col col-50">
          <span>{{ results.cal_maintain }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <p>Lose 1 lb/week:</p>
        </div>
        <div class="col col-50">
          <span>{{ results.cal_lose1 }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <p>Lose 2 lbs/week:</p>
        </div>
        <div class="col col-50">
          <span>{{ results.cal_lose2 }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <p>Gain 1 lb/week:</p>
        </div>
        <div class="col col-50">
          <span>{{ results.cal_gain1 }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <p>Gain 2 lbs/week:</p>
        </div>
        <div class="col col-50">
          <span>{{ results.cal_gain2 }}</span>
        </div>
      </div>
    </div>

    <div class="user-results center" ng-show="calIntake.bmr">
      <div class="row">
        <div class="col col-100">
          <p>BMR:</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <span>{{ results.bmr }}</span>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
