<ion-view view-title="LBM Calculator">
  <ion-content class="calc-view">
    <h1 class="header">Lean Body Mass</h1>

    <form class="user-input" name="form" ng-submit="form.$valid && calcLbm()" novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.pounds" placeholder="Pounds" ng-required="true" />
        </label>
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.bodyfat" placeholder="Body Fat %" ng-required="true" />
        </label>
      </div>

      <div class="button-group">
        <div class="row">
          <div class="col col-100">
            <button type="submit" class="button button-positive button-calculate">
              Calculate
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col col-100">
            <button class="button button-outline button-stable button-calculate" ng-click="reset()">
              Reset
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="user-results center">
      <div class="row">
        <div class="col col-100">
          <p>Lean Body Mass:</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <span>{{ user.info.lean }}</span>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
