<ion-view view-title="1RM Calculator">
  <ion-content class="calc-view">
    <h1 class="header">One Rep Max</h1>

    <form class="user-input" name="form" ng-submit="form.$valid && calcOrm()" novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.weight_lifted" placeholder="Weight Lifted (lbs)" ng-required="true" />
        </label>
        <label class="item item-input">
          <input type="number" min="0" ng-minlength="1" ng-model="user.info.reps" placeholder="Reps" ng-required="true" />
        </label>
      </div>

      <div class="button-group">
        <div class="row">
          <div class="col col-100">
            <button type="submit" class="button button-positive button-calculate">
              Calculate
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col col-100">
            <button class="button button-outline button-stable button-calculate" ng-click="clear()">
              Clear
            </button>
          </div>
        </div>
      </div>
    </form>

  <!-- Maximum Repetitions -->
    <div class="user-results">
      <div class="row center">
        <div class="col col-100">
          <p>One Rep Max:</p>
        </div>
      </div>
      <div class="row center">
        <div class="col col-100">
          <span>{{ results.orm }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-25">
          <p>95%:</p>
        </div>
        <div class="col col-25">
          <span>{{ results.orm_95 }}</span>
        </div>
        <div class="col col-25">
          <p>75%:</p>
        </div>
        <div class="col col-25">
          <span>{{ results.orm_75 }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-25">
          <p>90%:</p>
        </div>
        <div class="col col-25">
          <span>{{ results.orm_90 }}</span>
        </div>
        <div class="col col-25">
          <p>70%:</p>
        </div>
        <div class="col col-25">
          <span>{{ results.orm_70 }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-25">
          <p>85%:</p>
        </div>
        <div class="col col-25">
          <span>{{ results.orm_85 }}</span>
        </div>
        <div class="col col-25">
          <p>65%:</p>
        </div>
        <div class="col col-25">
          <span>{{ results.orm_65 }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-25">
          <p>80%:</p>
        </div>
        <div class="col col-25">
          <span>{{ results.orm_80 }}</span>
        </div>
        <div class="col col-25">
          <p>60%:</p>
        </div>
        <div class="col col-25">
          <span>{{ results.orm_60 }}</span>
        </div>
      </div>
    </div>
    <hr />

  <!-- Reps Chart -->
    <div class="row user-results" id="reps-chart">
      <div class="col col-100">
        <div class="row">
          <div class="col col-100">
            <p>Reps and Weights</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-25">
            <p>1 Rep:</p>
          </div>
          <div class="col col-25">
            <span>{{ results.orm_1Reps }}</span>
          </div>
          <div class="col col-25">
            <p>7 Reps:</p>
          </div>
          <div class="col col-25">
            <span>{{ results.orm_7Reps }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col col-25">
            <p>2 Reps:</p>
          </div>
          <div class="col col-25">
            <span>{{ results.orm_2Reps }}</span>
          </div>
          <div class="col col-25">
            <p>8 Reps:</p>
          </div>
          <div class="col col-25">
            <span>{{ results.orm_8Reps }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col col-25">
            <p>3 Reps:</p>
          </div>
          <div class="col col-25">
            <span>{{ results.orm_3Reps }}</span>
          </div>
          <div class="col col-25">
            <p>9 Reps:</p>
          </div>
          <div class="col col-25">
            <span>{{ results.orm_9Reps }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col col-25">
            <p>4 Reps:</p>
          </div>
          <div class="col col-25">
            <span>{{ results.orm_4Reps }}</span>
          </div>
          <div class="col col-25">
            <p>10 Reps:</p>
          </div>
          <div class="col col-25">
            <span>{{ results.orm_10Reps }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col col-25">
            <p>5 Reps:</p>
          </div>
          <div class="col col-25">
            <span>{{ results.orm_5Reps }}</span>
          </div>
          <div class="col col-25">
            <p>15 Reps:</p>
          </div>
          <div class="col col-25">
            <span>{{ results.orm_15Reps }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col col-25">
            <p>6 Reps:</p>
          </div>
          <div class="col col-25">
            <span>{{ results.orm_6Reps }}</span>
          </div>
          <div class="col col-25">
            <p>20 Reps:</p>
          </div>
          <div class="col col-25">
            <span>{{ results.orm_20Reps }}</span>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
